h1{
    color: rgb(234, 22, 22);
    background-color: bisque;
}

h2{
    color: rgb(22, 125, 234);
    background-color: rgb(12, 237, 207);
}

p{
    color: rgb(132, 234, 22);
}

a{
    text-decoration: none;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50px;
}